

body{ 

background-color: cadetblue;

}


p , h2 , ul , ol {
color: navy;
font-size: large;
line-height: 20px;
}

h1{
    font-size: xx-large;
    font-weight: lighter;
    margin-bottom: 25px;
}

h1,h2, p, footer,img , header , ul, ol {
    display: block;
    margin: 25px;
     
}

